@import "bourbon";
@import "vars.scss";
@media only screen and (max-width : 1300px){

}
@media only screen and (max-width : 1287px){

}
@media only screen and (max-width : 1281px){

}
@media only screen and (max-width : 1272px){

}
@media only screen and (max-width : 1265px){

}
@media only screen and (max-width : 1264px){
  .equipment{
    padding-left: 30px;
  }
  .pad-equip{
    padding-left: 15px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1261px){


}
@media only screen and (max-width : 1250px){

}
@media only screen and (max-width : 1253px){
  .equipment{
    padding-left: 0;
  }
  .item-middle{
    padding: 0 45px 25px 45px;
  }
  .item-middle5{
    padding: 0 75px 25px 75px;
  }
  text-align: center;
}
@media only screen and (max-width : 1244px) {
  .item-middle{
    padding: 0 40px 25px 40px;
  }
}
@media only screen and (max-width : 1242px){

}
@media only screen and (max-width : 1238px){

}
@media only screen and (max-width : 1228px){

}
@media only screen and (max-width : 1216px){

}
@media only screen and (max-width : 1209px){

  .slider .equip-title{
    right: 20%;
  }

}
@media only screen and (max-width : 1206px){

}
@media only screen and (max-width : 1204px){
  .item-middle{
    min-height: 305px;
    padding: 0 75px 25px 75px;
    width: 47%;
    margin: 35px auto;
    margin-right: 10px;
  }
  .item-middle5{
    width: 47%;
  }

}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1188px){

}
@media only screen and (max-width : 1180px){

  .slider .equip-title{
    right: 20%;
  }
}
@media only screen and (max-width : 1175px){

}
@media only screen and (max-width : 1165px){

}
@media only screen and (max-width : 1162px){
	.equipment{
		padding-left: 25px;
	}
}
@media only screen and (max-width : 1155px){

}
@media only screen and (max-width : 1150px){

}
@media only screen and (max-width : 1145px){
  .choice{
    max-width: 589px;
  }
  body .choice-telephone{
    max-width: 589px;
  }
}
@media only screen and (max-width : 1140px){

}
@media only screen and (max-width : 1139px){
  .slider .equip-title{
    right: 15%;
  }
}
@media only screen and (max-width : 1137px){
	.equipment{
		padding-left: 0px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1140px) {
	.head-contact{
		padding-right: 50px;
	}
	.popup{
		margin-right: 13px;
	}
	.head-pad{
		padding-left: 50px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 1136px) {
	.request a{
		margin-left: 40px;
	}

}

@media only screen and (max-width : 1130px){

}
@media only screen and (max-width : 1121px) {
	.request{
		text-align: center;
	}
	.request p{
		float: none;
		font-size: 1.9vw;
	}
	.request a{
		margin-left: 0;
		margin-top: 10px;
		float: none;
	}
	.head-menu{
		padding-left: 0;
	}
	.choice-item{
		padding-bottom: 0;
		margin-top: 35px;
		img{
			width: 100%;
		}
	}

}
@media only screen and (max-width : 1120px){

}
@media only screen and (max-width : 1117px){
  .item-middle5{
    min-height: 272px;
  }
  .item-top p{
    padding-left: 50px;
  }
}
@media only screen and (max-width : 1112px){
  .item-top p{
    padding-left: 40px;
  }

  .items-fid{
    text-align: center;
  }
  .item-top{
    margin-right: 0;
    float: none;
    display: inline-block;
  }
  .item-top p{
    font-size:2.5vw;
  }
  .wid-top{
    width: 80%;
  }
}
@media only screen and (max-width : 1110px){

}
@media only screen and (max-width : 1065px){
  body .slider .equip-title{
    right: 10%;
  }
}
@media only screen and (max-width : 1018px){
  .item-top{
    min-height: 311px;
  }
}
@media only screen and (max-width : 1100px){

  .slider .equip-title{
    right: 15%;
  }
}
@media only screen and (max-width : 1090px){

}
@media only screen and (max-width : 1080px){

}
@media only screen and (max-width : 1070px){

}
@media only screen and (max-width : 1060px){

}
@media only screen and (max-width : 1050px){

}
@media only screen and (max-width : 1040px){

}
@media only screen and (max-width : 1030px){

  .slider .equip-title{
    right: 10%;
  }
}
@media only screen and (max-width : 1020px){

}
@media only screen and (max-width : 1010px){

}
@media only screen and (max-width : 1000px){

}
@media only screen and (max-width : 995px){

}
@media only screen and (max-width : 991px){
  body .slider .equip-title{
    right: auto;
  }
  .active-div{
    display: none;
  }
  body .choice-telephone{
    max-width: inherit;
  }
  #map{
    margin-left: 5px;
  }
  footer .logo{
    left: inherit;
    position: relative;
    a{
      max-width: 320px;
      margin:0 auto;
      img{
        width: 100%;
      }
    }
  }
  footer .social ul{
    top: auto;
    left: auto;
  }
  footer .head-contact{
    text-align: center;
  }
  .bd-foot p{
    padding: 15px 0;
    float: none;
  }
  .bd-foot a{
    padding: 15px 0;
    text-align: left;
  }
  .foot-link{
    float: right;
    text-align: right;
  }
  .diag-title{
    text-align: center;
    padding-left: 0;
  }
  .diag-img{
    text-align: center;
    img{
      padding-right: 0;
    }
  }
  .diag-popup{
    float: none !important;
    p{
      text-align: center;
      padding-right: 0;
    }
  }
  .but-reguest_bot{
    float: none !important;
    margin: 10px auto;
  }
  .social a{
    margin-left: 11px;
  }
  .item-middle5{
    text-align: center !important;
    p{
      padding-left: 0;
    }
  }
  .item-middle{
    p{
      padding-left: 0;
    }
  }
	.wrapp-bg{
		text-align: center;
	}
	.head-pad{
		padding-left: 0;
		padding-bottom: 0;
	}
	.logo a{
		padding-top: 30px;
        img{
          width: 100%;
          max-width: 320px;
        }
	}
	.head-menu h1{
		font-size: 6vw;
	}
	.head-menu ul{
		display: none;
	}
	.toggle_mnu{
		display: block !important;
	}
	.top_mnu ul{
		display: block;
	}
	.sandwich.active .sw-topper{
		left: 165px;
	}
	.sandwich.active .sw-bottom{
		left: 165px;
	}
	.right-pad{
		padding-left: 0;
	}
	.social{
		text-align: center;
	}
	.social ul{
		position: relative;
		text-align: center;
		margin-top: 20px;
		top: auto;
		left: auto;
		display: inline-block;
	}
	.head-contact{
		float: none !important;
		text-align: center;
		padding-right: 0;
	}
	body .telefon{
		display: inline-block;
		width: 50%;
	}
	body .telefon:after{
		right: auto;
		left: 57px ;
	}

	body .email{
		display: inline-block;
		width: 50% ;
	}
    body .email:after{
		right: auto;
		left: 57px ;
	}
	body .city{
		display: inline-block;
		width: 50%;
	}
	body .city:after{
		right:auto;
		left: 59px ;
	}
	.popup{
		float: none !important;
		margin: 0 auto;
	}
	.category-work{
		display: block;
		text-align: center;
		padding-right: 0;
		width: 97%;
	}
	.amenities{
		max-width: inherit;
	}
	.choice{
		max-width: inherit;
	}
	.choice-item p{
		padding-bottom: 50px;
	}
	.slider{
		min-height: auto;
		padding-bottom: 25px;
	}
	.slider .equip-title{
		position: relative;
		text-align: center;
		right: auto;
		margin: 25px auto;
	}
	.autoWidth .active{
		max-width: 315px !important;
		width: 100%;
		z-index: -1;
		position: relative;
		margin-right: 0 !important;
		height: 235px;
	}
	.lSAction{
		position: inherit;
		left: auto;
		top: -134px;
	}
	.lSAction > a{
		position: absolute;
		float: none;
		display: block;
	}
	.shadow{
		display: none;
	}
	.autoWidth .active img{
		min-height: 235px;
	}
	.equipment{
		padding-left: 0;
	}
	.pad-equip{
		padding-left: 15px;
	}
	.pad-left{
		padding-left: 15px !important;
	}


	.equip-title{
		text-align: center;
	}
  .item-top{
    text-align: left;
  }
  .item-middle{
    text-align: center;
  }
}

@media only screen and (max-width : 935px){
  .item-top p{
    font-size:3vw;
  }
}
@media only screen and (max-width : 900px){
  body .telefon:after{
    left: 43px;
  }
  body .email:after{
    left: 40px;
  }
  body .city:after{
    left: 59px;
  }
}

@media only screen and (max-width : 840px){
  body .telefon:after{
    left: 30px;
  }
  body .email:after{
    left: 27px;
  }
  body .city:after{
    left: 30px;
  }
}
@media only screen and (max-width : 800px){
  body .telefon:after{
    left: 20px;
  }
  body .email:after{
    left: 17px;
  }
  body .city:after{
    left: 20px;
  }
}
@media only screen and (max-width : 780px){
  .request p{
    font-size:2.4vw;
  }
}
@media only screen and (max-width : 745px){
  body .telefon:after{
    left: 10px;
  }
  body .email:after{
    left: 7px;
  }

  body .city:after{
    left:10px;
  }

}
@media only screen and (max-width : 705px){
  .wid-top{
    width: 90%;
  }
  body .telefon{
    width: 100%;
  }
  body .email {
    width: 100%;
  }
  body .city{
    width: 100%;
  }
  body .telefon:after{
    left: 24%;
  }
  body .email:after{
    left: 23.8%;
  }
  body .city:after{
    left: 24%;
  }

}
@media only screen and (max-width : 650px){
  .item-top{
    width: 90%;
    min-height: 250px;
  }
  .item-middle{
    span{
      br{
        display: none;
      }
    }
  }
  .middle-img{
    max-width: 350px;
  }


}
@media only screen and (max-width : 640px){
  body .telefon:after{
    left: 20%;
  }
  body .email:after{
    left: 19.7%;
  }
  body .city:after{
    left: 20%;
  }
}

@media only screen and (max-width : 626px){
  .item-top p{
    display: block;
  }
}

@media only screen and (max-width : 600px){
  .request p{
    font-size:3vw;
  }
}
@media only screen and (max-width : 555px){
  .diag-img img{
    width: 100%;
  }
  body .telefon:after{
    left: 15% ;
  }
  body .email:after{
    left: 14.7% ;
  }
  body .city:after{
    left: 15% ;
  }
}
@media only screen and (max-width : 540px){
  .for-timg{
    float: none;
    text-align: center;
  }
  .item-top{
    text-align: center;
    p{
      padding-top: 30px;
      font-size:4vw;
    }
  }

}
@media only screen and (max-width : 475px){
  .request p{
    font-size:3.9vw;
  }
  body .telefon:after{
    left: 10%;
  }
  body .email:after{
    left: 9.7% ;
  }
  body .city:after{
    left: 10% ;
  }
}
@media only screen and (max-width : 450px){
  .equip-title h2{
    font-size:15vw;
  }
}
@media only screen and (max-width : 443px){
  body .for-mob{
    padding-top: 38px;
  }
}
@media only screen and (max-width : 435px){
  .diag-title p{
    line-height: 46px;
  }
}
@media only screen and (max-width : 419px){
  body .telefon:after{
    left: 5% ;
  }
  body .email:after{
    left: 4.7% ;
  }
  body .city:after{
    left: 5% ;
  }
}
@media only screen and (max-width : 400px){
  .item-top p{
    font-size:4.9vw;
    padding-top: 15px;
  }

}
@media only screen and (max-width : 392px){
  .diag-popup p{
    font-size:4vw;
  }
}
@media only screen and (max-width : 380px){
  .request p{
    font-size:4.6vw;
  }
  body .telefon:after{
    display: none;
  }
  body .email:after{
    display: none;
  }
  body .city:after{
    display: none;
  }

}

@media only screen and (max-width : 320px){

}