@import url(../libs/select2/dist/css/select2.min.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
@import url(../libs/lightslider/dist/css/lightslider.min.css);
.inner {
  max-width: 1282px;
  margin: 0 auto; }

.inner1 {
  max-width: 1037px;
  margin: 0 auto; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: FranckerCYR-CondensedLight;
  overflow-x: hidden;
  color: #fff;
  background-color: #03101b; }

a, button, input, textarea {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
    border: 0; }

button:hover {
  cursor: pointer; }

.hidden {
  display: none; }

header {
  background-image: url("../img/bg-head.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.wrapp-bg {
  background-color: rgba(0, 0, 0, 0.4); }

.head-pad {
  padding-left: 107px;
  padding-bottom: 177px; }

.logo a {
  padding-top: 80px;
  display: block; }

.head-menu {
  padding-left: 35px;
  padding-top: 30px;
  color: #fff; }
  .head-menu h1 {
    font-size: 35px;
    margin: 0;
    font-family: BebasNeueBold;
    line-height: 45px; }
  .head-menu p {
    font-size: 31px;
    font-family: BebasNeueBook;
    letter-spacing: -0.1px; }
  .head-menu ul {
    padding-top: 52px; }
  .head-menu a {
    display: block;
    font-size: 20px;
    font-family: Bebas_Neue_Cyrillic;
    color: #375162;
    padding-bottom: 22px;
    letter-spacing: 0.4px; }
    .head-menu a:hover, .head-menu a.active, .head-menu a:focus {
      color: #fff;
      text-decoration: none; }

.right-pad {
  padding-left: 50px;
  position: relative; }

.social {
  position: relative; }
  .social ul {
    position: absolute;
    left: 3px;
    top: 213px; }
  .social li {
    float: left; }
  .social a {
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 11px; }

.vk {
  background-image: url("../img/vk.png");
  background-repeat: no-repeat; }

.inst {
  background-image: url("../img/inst.png");
  background-repeat: no-repeat; }

.work-block {
  display: none; }

.work-active {
  display: block; }

.pad-left {
  padding-left: 0 !important; }

.head-contact {
  padding-right: 130px;
  padding-top: 85px;
  color: #fff;
  text-align: right; }

.telefon {
  font-size: 40px;
  font-family: FranckerCYR-CondensedSmbold;
  letter-spacing: -2.4px;
  position: relative; }
  .telefon:after {
    position: absolute;
    right: -38px;
    top: 6px;
    content: '';
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px; }
  .telefon span {
    font-size: 25px;
    font-family: FranckerCYR-CondensedLight;
    letter-spacing: -1.4px; }
  .telefon h2 {
    margin: 0;
    line-height: 20px; }

.email {
  padding-top: 15px;
  font-family: FranckerCYR-CondensedReg;
  font-size: 18px;
  letter-spacing: -1px;
  position: relative; }
  .email:after {
    position: absolute;
    top: 24px;
    right: -40px;
    content: '';
    background-image: url("../img/email.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 13px; }

.city {
  padding-top: 10px;
  font-family: FranckerCYR-CondensedReg;
  font-size: 18px;
  letter-spacing: -1px;
  position: relative; }
  .city:after {
    position: absolute;
    top: 15px;
    right: -37px;
    content: '';
    background-image: url("../img/mark.png");
    width: 12px;
    height: 16px; }

.popup {
  margin-right: 90px;
  text-align: center; }
  .popup a {
    display: block;
    padding: 9px 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    letter-spacing: -1px;
    color: #fff;
    font-size: 16px;
    margin-top: 19px;
    background: -webkit-gradient(linear, left bottom, left top, from(#64048c), to(#a137ce));
    background: -webkit-linear-gradient(bottom, #64048c, #a137ce);
    background: linear-gradient(to top, #64048c, #a137ce);
    font-family: FranckerCYR-CondensedSmbold; }
    .popup a:hover {
      text-decoration: none;
      background-color: #a137ce; }

.category-work {
  font-family: FranckerCYR-CondensedXLight;
  font-size: 28px;
  margin-top: 60px;
  letter-spacing: -1.6px;
  border-bottom: 1px solid #7400a5;
  padding-bottom: 10px;
  padding-right: 35px;
  position: relative;
  display: inline-block; }
  .category-work:after {
    position: absolute;
    content: '';
    bottom: -1px;
    right: -18px;
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    width: 19px;
    height: 20px; }
  .category-work span {
    font-family: FranckerCYR-CondensedSmbold;
    letter-spacing: -1.8px; }

@-webkit-keyframes swipe-icon {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  20% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes swipe-icon {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  20% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.swipe-icon {
  position: relative;
  display: none; }
  .swipe-icon svg {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 80px;
    height: 80px;
    -webkit-animation: swipe-icon 3s ease-in infinite;
    animation: swipe-icon 3s ease-in infinite; }
    .swipe-icon svg path {
      fill: #fff; }

.amenities {
  max-width: 589px; }

body .choice-telephone {
  max-width: 276px;
  width: 100%; }

.choice {
  border: 1px solid #7400a5;
  margin-top: 27px;
  max-width: 308px;
  width: 100%;
  display: inline-block; }
  .choice select {
    background-color: transparent;
    color: #fff;
    width: 100%;
    border: none;
    padding: 11px 16px;
    font-size: 16px;
    font-family: FranckerCYR-CondensedLight;
    letter-spacing: -1px; }
    .choice select:focus {
      border: none;
      text-decoration: none; }

input.choice {
  background-color: transparent;
  color: #fff;
  padding: 9px 16px 10px;
  font-size: 16px;
  font-family: FranckerCYR-CondensedLight;
  letter-spacing: -1px; }
  input.choice::-webkit-input-placeholder {
    color: #fff; }
  input.choice::-moz-placeholder {
    color: #fff; }
  input.choice:-moz-placeholder {
    color: #fff; }
  input.choice:-ms-input-placeholder {
    color: #fff; }
  input.choice:focus {
    border: 1px solid #7400a5; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  background-color: transparent;
  border: none;
  color: #fff; }

span.select2-container {
  background-color: transparent;
  padding: 10px 0 6px 12px;
  letter-spacing: -1px;
  min-width: 308px; }

.select2-container--default .select2-selection--single {
  background-color: transparent;
  color: #fff;
  border: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff; }
  .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    outline: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  width: 43px;
  border-left: 1px solid #7400a5; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  border: none;
  width: 18px;
  height: 11px;
  background-image: url("../img/arrow.png");
  margin-left: -8px;
  margin-top: -5px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  border: none;
  width: 18px;
  height: 11px;
  background-image: url("../img/arrow1.png");
  margin-left: -8px;
  margin-top: -5px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #a137ce;
  color: #000; }

.select2-results__option[aria-selected] {
  background-color: transparent;
  color: #000; }

.select2-results__option {
  padding: 4px; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  color: #000; }

.request {
  margin-top: 27px; }
  .request p {
    font-size: 14px;
    font-family: FranckerCYR-CondensedLight;
    color: #7492ae;
    padding-top: 10px;
    letter-spacing: -0.7px;
    line-height: 20px;
    float: left; }
  .request button {
    margin-left: 55px;
    display: block;
    float: right;
    background-color: transparent; }

.but-reguest {
  padding: 12px 34px;
  text-align: center;
  color: #fff;
  border: 1px solid #00b4ff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  letter-spacing: 0.5px; }
  .but-reguest:hover, .but-reguest:focus {
    text-decoration: none;
    background-color: #00b4ff;
    color: #fff;
    border: 1px solid #00b4ff; }

.choice-item {
  margin-top: 142px;
  position: relative;
  padding-bottom: 78px; }
  .choice-item p {
    padding-top: 45px;
    padding-left: 3px;
    letter-spacing: -0.1px;
    line-height: 32px;
    text-align: justify; }

.popup-window {
  background: #fff;
  padding: 20px;
  position: relative;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  color: #000;
  text-align: center; }
  .popup-window input, .popup-window button {
    color: #000; }
    .popup-window input::-webkit-input-placeholder, .popup-window button::-webkit-input-placeholder {
      color: #000; }
    .popup-window input::-moz-placeholder, .popup-window button::-moz-placeholder {
      color: #000; }
    .popup-window input:-moz-placeholder, .popup-window button:-moz-placeholder {
      color: #000; }
    .popup-window input:-ms-input-placeholder, .popup-window button:-ms-input-placeholder {
      color: #000; }
  .popup-window button {
    float: none;
    display: inline-block;
    margin-left: 0; }

.cs-hidden {
  opacity: 0;
  visibility: hidden; }

.pix-per {
  position: absolute;
  top: 0;
  opacity: .5;
  left: 50%;
  margin-left: -960px; }
