*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.slider {
  min-height: 591px;
  position: relative; }

.autoWidth li {
  max-width: 315px;
  width: 100%;
  z-index: -1;
  position: relative;
  margin-right: 0 !important; }
  .autoWidth li img {
    max-height: 235px; }

.shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
  height: auto !important; }

.autoWidth .active .shadow {
  display: none; }

.lSAction {
  position: absolute;
  top: 57%;
  left: 42.7%; }

.lSAction > a {
  position: static;
  float: left;
  border: 1px solid #fff;
  width: 39px;
  height: 39px; }

.lSAction > .lSPrev {
  background-image: url("../img/slide.png");
  background-repeat: no-repeat;
  background-position: center; }

.lSAction > .lSNext {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: center; }

.autoWidth .active {
  max-height: 441px !important;
  height: 100%;
  max-width: 588px;
  width: 100%;
  z-index: 999; }
  .autoWidth .active img {
    min-height: 441px;
    width: 100%;
    max-width: 588px; }

.lSSlideOuter .lSPager.lSpg {
  display: none; }

.slider .equip-title {
  position: absolute;
  right: 25%;
  top: 52%; }
  .slider .equip-title h2 {
    line-height: 65px; }
  .slider .equip-title p {
    font-size: 40px;
    font-family: BebasNeueBook;
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg); }

.equipment {
  padding-left: 84px;
  display: block;
  position: relative; }

.equip-title h2 {
  font-size: 70px;
  font-family: Bebas_Neue_Cyrillic;
  -webkit-transform: skewX(-11deg);
  -ms-transform: skewX(-11deg);
  transform: skewX(-11deg);
  letter-spacing: -2.7px; }

.items-fid {
  margin-top: 20px;
  margin-bottom: 95px; }

.item-top {
  padding-bottom: 53px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 50px;
  padding-right: 23px;
  background-image: url("../img/border-item4.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100%;
  margin-right: 5px; }
  .item-top:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    background-image: url("../img/bif-item.png");
    width: 27px;
    height: 52px; }
  .item-top:after {
    content: '';
    position: absolute;
    right: -28px;
    bottom: 3px;
    background-image: url("../img/aft-item.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 59px; }
  .item-top p {
    float: left;
    font-family: FranckerCYR-CondensedLight;
    font-size: 17px;
    padding-top: 97px;
    padding-left: 38px;
    padding-right: 40px; }

.item-top-right {
  position: relative;
  padding-right: 43px;
  padding-bottom: 55px; }
  .item-top-right p {
    padding-top: 93px;
    padding-left: 38px;
    padding-right: 64px; }
  .item-top-right img {
    padding-top: 34px; }

.item-middle {
  text-align: center;
  padding-bottom: 78px;
  padding-right: 7px;
  margin-right: 2px; }
  .item-middle img {
    padding: 30px 0 0 17px; }
  .item-middle p {
    float: none;
    padding-top: 54px;
    padding-left: 46px; }
  .item-middle span {
    color: #486273;
    font-size: 15px;
    font-family: FranckerCYR-CondensedLight;
    display: block;
    letter-spacing: -0.3px;
    padding-right: 0px;
    padding-top: 3px;
    line-height: 21px; }

.pad-equip {
  padding-left: 10px; }

.item-middle1 {
  padding-left: 0px;
  padding-bottom: 34px; }
  .item-middle1 img {
    padding: 35px 10px 0 0; }
  .item-middle1 p {
    padding-top: 49px;
    padding-left: 27px;
    padding-right: 23px; }

.item-middle2 {
  padding-bottom: 55px; }
  .item-middle2 p {
    padding-top: 48px; }

.item-middle3 {
  padding-bottom: 51px;
  padding-right: 37px; }
  .item-middle3 p {
    padding-top: 33px; }

.item-middle5 {
  padding: 0 55px 25px 55px;
  margin-top: 33px; }
  .item-middle5 span {
    padding-bottom: 4px; }
  .item-middle5 img {
    padding: 10px 0 0 0; }
  .item-middle5 p {
    padding: 15px 0 0 15px; }

.item-img {
  max-width: 99px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 199px;
  margin: 0 auto; }

.marg-diag {
  margin-top: 101px; }

.diagnostic {
  background-image: url("../img/bg-diag.jpg");
  background-position: center;
  background-repeat: no-repeat; }

.diag-title {
  padding-left: 16px;
  padding-top: 5px; }
  .diag-title h2 {
    line-height: 46px;
    font-size: 65px;
    font-family: BebasNeueBold;
    -webkit-transform: skewX(-11deg);
    -ms-transform: skewX(-11deg);
    transform: skewX(-11deg);
    letter-spacing: -2.9px; }
  .diag-title p {
    font-size: 46px;
    font-family: BebasNeueRegular;
    -webkit-transform: skewX(-11deg);
    -ms-transform: skewX(-11deg);
    transform: skewX(-11deg);
    letter-spacing: -1.8px; }
  .diag-title span {
    color: #198acd; }

.diag-img {
  padding-top: 41px; }
  .diag-img img {
    padding-right: 50px; }

.diag-popup {
  margin-bottom: 112px; }
  .diag-popup p {
    padding-right: 20px;
    letter-spacing: -0.4px;
    font-family: FranckerCYR-Light; }
  .diag-popup ul {
    margin-top: 25px; }
  .diag-popup li {
    position: relative;
    font-size: 17px;
    font-family: FranckerCYR-CondensedSmbold;
    padding-left: 36px;
    padding-bottom: 9px;
    letter-spacing: -1px; }
    .diag-popup li:after {
      position: absolute;
      left: 0;
      top: 5px;
      content: '';
      background-image: url("../img/arrow-diag.png");
      width: 14px;
      height: 16px; }

.but-reguest_bot {
  padding: 12px 35px;
  margin-top: 29px;
  display: block;
  float: right;
  margin-right: 23px;
  font-family: FranckerCYR-CondensedSmbold;
  letter-spacing: -0.8px;
  line-height: 30px; }

#map {
  height: 250px; }

footer {
  position: relative; }

footer .logo {
  position: absolute;
  top: -23px;
  left: 18px; }
  footer .logo a {
    padding-top: 0; }

footer .social ul {
  top: 115px;
  left: 85px; }

footer .head-contact {
  padding-top: 50px;
  padding-right: 0;
  text-align: left; }

footer .telefon {
  font-size: 30px;
  padding-right: 25px;
  letter-spacing: -2.5px; }
  footer .telefon span {
    font-size: 30px; }
  footer .telefon:after {
    left: -42px;
    top: 5px;
    right: 0;
    background-image: url("../img/phone1.png");
    height: 18px;
    width: 18px; }

footer .email {
  padding-top: 22px; }
  footer .email:after {
    left: -41px;
    top: 30px; }

footer .city:after {
  left: -39px;
  top: 15px; }

.bd-foot {
  border-top: 1px solid #29343d;
  margin-top: 38px;
  color: #64686c;
  font-size: 14px; }
  .bd-foot p {
    padding: 17px 30px 0 17px;
    float: left;
    letter-spacing: -0.2px; }
  .bd-foot a {
    color: #64686c;
    padding: 18px 21px;
    display: block;
    text-align: right;
    letter-spacing: -0.2px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1261px) {
  .lSAction {
    left: 43.5%; } }

@media only screen and (max-width: 1200px) {
  .lSAction {
    left: 46.5%; } }

@media only screen and (max-width: 1196px) {
  .equipment {
    padding-left: 50px; } }

@media only screen and (max-width: 1162px) {
  .equipment {
    padding-left: 25px; } }

@media only screen and (max-width: 1137px) {
  .equipment {
    padding-left: 0px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1140px) {
  .head-contact {
    padding-right: 50px; }
  .popup {
    margin-right: 13px; }
  .head-pad {
    padding-left: 50px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 1136px) {
  .request a {
    margin-left: 40px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 1121px) {
  .request {
    text-align: center; }
  .request p {
    float: none;
    font-size: 1.9vw; }
  .request a {
    margin-left: 0;
    margin-top: 10px;
    float: none; }
  .head-menu {
    padding-left: 0; }
  .choice-item {
    padding-bottom: 0;
    margin-top: 35px; }
    .choice-item img {
      width: 100%; } }

@media only screen and (max-width: 991px) {
  .wrapp-bg {
    text-align: center; }
  .head-pad {
    padding-left: 0;
    padding-bottom: 0; }
  .logo a {
    padding-top: 30px; }
  .head-menu h1 {
    font-size: 6vw; }
  .head-menu ul {
    display: none; }
  .toggle_mnu {
    display: block !important; }
  .top_mnu ul {
    display: block; }
  .sandwich.active .sw-topper {
    left: 165px; }
  .sandwich.active .sw-bottom {
    left: 165px; }
  .right-pad {
    padding-left: 0; }
  .social {
    text-align: center; }
  .social ul {
    position: relative;
    text-align: center;
    margin-top: 20px;
    top: auto;
    left: auto;
    display: inline-block; }
  .head-contact {
    float: none !important;
    text-align: center;
    padding-right: 0; }
  .telefon {
    display: inline-block;
    width: 50%; }
  .telefon:after {
    right: auto;
    left: 57px; }
  .email {
    display: inline-block;
    width: 50%; }
  .email:after {
    right: auto;
    left: 57px; }
  .city {
    display: inline-block;
    width: 50%; }
  .city:after {
    right: auto;
    left: 59px; }
  .popup {
    float: none !important;
    margin: 0 auto; }
  .category-work {
    display: block;
    text-align: center;
    padding-right: 0;
    width: 99%; }
  .amenities {
    max-width: inherit; }
  .choice {
    max-width: inherit; }
  .choice-item p {
    padding-bottom: 50px; }
  .slider {
    min-height: auto;
    padding-bottom: 25px; }
  .slider .equip-title {
    position: relative;
    text-align: center;
    right: auto;
    margin: 25px 0; }
  .autoWidth .active {
    max-width: 315px !important;
    width: 100%;
    z-index: -1;
    position: relative;
    margin-right: 0 !important;
    height: 235px; }
  .lSAction {
    position: inherit;
    left: auto;
    top: -134px; }
  .lSAction > a {
    position: absolute;
    float: none;
    display: block; }
  .shadow {
    display: none; }
  .autoWidth .active img {
    min-height: 235px; }
  .equipment {
    padding-left: 0; }
  .pad-equip {
    padding-left: 15px; }
  .pad-left {
    padding-left: 15px !important; }
  .item-top {
    padding: 0 55px 25px 55px !important;
    vertical-align: top; }
    .item-top img {
      padding: 10px 0 0 0 !important; }
    .item-top p {
      padding: 15px 0 0 15px !important;
      float: none !important; }
  .equip-title {
    text-align: center; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
